body {
    background: #EFE7E5;
}

ul{
    margin-left: 50px;
    list-style-type: none;

}
li{
    padding: 10px;
    width: 400px;
}
label{
    margin-left: 10px;
}

form {
    text-align: left;
    padding-top: 20px;
    text-align: left;   

}
p{
    font-size: 8pt;
    margin-left: 195pt;
    margin-top: 2pt; 
}
input {
    margin-left: 50px;
}
.button {
    position: absolute;
    top: 110px;
    left: 50%;
}
.comment {
    font-size: 8pt;
    margin-left: 105px;
    margin-top: 2px;

}


.delete_id{
    margin-left: 130px;
}
.switch{
    margin-left: 700pt;
}

table{
    margin-top: 10px;
    width: 260px;
    height: 180px;
    border: 1px;
    margin-left: 35px;
    float: left;
    border-style: solid; 

}
h1{
    margin-left: 40pt;
    margin-bottom: 5pt;

}
h2{
    text-decoration: underline;
    font-size: 30pt;
    text-align: center;
    padding-bottom: 10pt;
}
h3{

    font-size: 20pt;
    text-align: center;
    margin-bottom: 30pt;

}
a{
    text-decoration: none;
    font-family: Cambria, serif;
    font-size: 20px;
    color: #596368;
    margin-left: 30pt;
}
#link{

    font-family: Cambria, serif;
    font-size: 25px;
    color: black;;
    margin-left: 23%;


}
#link:hover{

    font-weight: bold;
    font-family: Cambria, serif;
    font-size: 25px;
    color:black;

}
